{% extends 'base.html' %}

{% block content %}

    <div class="text-center mw-500 m-auto">
        <div class="m-5">
            {% if target_user.profile %}
                <img src ="{{ target_user.profile.image.url }}"
                     class="profile_image m-4"
                     alt="profile image"> {# alt 이미지를 안받을 때 대체로 넣는 것 #}
                <h2 class="NNS_B">
                    {{ target_user.profile.nickname }}
                        {%  if user == target_user %}
                            <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}"
                               class="material-icons round_button" >
                                edit
                                {# 뒤에 누구를 찾을 것인지를 생각해보기 target_profile이 아님#}
                            </a>
                        {%  endif %}
                </h2>
                <h5>{{ target_user.profile.message }}</h5>
            {% else %}
            <h2 class="NNS_B">
                <a href="{% url 'profileapp:create' %}">
                    Creation Profile
                </a>
            </h2>
            {% endif %}
        </div>
        <div>
            {{ target_user.date_joined }}
        </div>

        {% if user == target_user %}

        <div>
            <a href="{% url 'accountapp:update' pk=target_user.pk %}"
            class="material-icons round_button mx-1">
                    settings
            </a>{# 나의정보수정페이지 이기 때문에 user의 plk #}

            <a href="{% url 'accountapp:delete' pk=target_user.pk %}"
            class="material-icons round_button mx-1">
                close
            </a>{# 나의정보수정페이지 이기 때문에 user의 plk #}
        </div>
        {% endif %}
    </div>

        <div>
            {% include 'snippets/list_fragment.html' with article_list=object_list %}
        </div>

{% endblock %}